body {

    background-image: url(blue-dot-splash.jpg);
    
    }

.hero-image {

    background-color: #ffffff;
    width: 100%;
    background-position: center;
    text-align: center;
    margin-bottom: 30px;

}

.col-8{
    background-color: rgba(255, 255, 255, 0.8);
    border: solid;
    border-radius: 40px;
    padding: 10px;
    margin: 0.px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    

}


table {
    margin: 0 auto;
    margin-top: 20px;
    border: 3px solid black;
    border-collapse: separate;
    margin-bottom: 30px;
    
}
th, td {
    border: 3px solid black;
    padding: 10px 15px;
    text-align: center;
    margin-bottom: 30px;
}

.box1 {

    border: solid;
}

img {
    

}

box bg-info p-4 h-80 {

    width: 150px;
}
