body {

    background-image: url(blue-dot-splash.jpg);
    
    }

.hero-image {

    background-color: gray;
    width: 100%;
    background-position: center;
    text-align: center;

}

